@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lexend:wght@500&family=Marck+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lexend:wght@500&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #3a4d5c;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

input,
textarea {
    background-color: #d2e9fb;
}

.container-slider {
    border-radius: 15px;

    max-width: 700px;
    height: 500px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
    .container-slider {
        margin: 100px 10px 0;
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-anim {
    opacity: 1;
}

.btn-slide {
    transition: opacity .6s ease-in-out;

    opacity: 0.6;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-slide:hover {
    transition: opacity .6s ease-in-out;
    opacity: 1;
}

.btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
}

.next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
}


.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
}

.dot.active {
    background: rgb(106 104 104);
}

/* Style the accordion section */
.accordion__section {
    display: flex;
    flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    border-radius: 15px;
    background-color: #4f658d;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
    background-color: #5474ae;
    z-index: 9;
}

/* Style the accordion content title */
.accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

/* Style the accordion chevron icon */
.accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
    background-color: #a8c3ee;
    overflow: auto;
    transition: max-height 0.6s ease;
    margin: -10px auto 0;
    max-height: 150px;
    overflow-y: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Style the accordion content text */
.accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 18px;
}