@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.customUl {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px 40px;
}

.customUl li {
    display: grid;
    justify-items: center;
    background-color: #bbc6d1;
}

.customName {
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
}

.customImage {
    width: 120px;
    height: 150px;
}

.customName {
    color: #3e6cbf;
    font-weight: 600;
}

.customImage:hover {
    position: relative;
    top: 1px;
}

.imageWrapperFilm {
    max-width: 100%;
}

.infoBuy {
    font-size: 24px;
    color: #6a89bc;
}

.infoBuy span {
    font-size: 26px;
    font-weight: 700;
    color: #171930 !important;
}

.itemTop {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
}

.backButton {
    text-decoration: none;
    padding: 10px;
    background-color: #395b99;
    color: #fff;
    border-radius: 5px;
}

.backButton:hover {
    position: relative;
    top: 2px;
}

.productContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: start;
    justify-items: start;
    gap: 35px;
    padding-top: 30px;
}

.characteristics {
    font-style: italic;
    font-size: 22px;
}

.comments li p {
    font-size: 24px;
    font-size: 10px;
    margin: 0;
    padding: 5px 0 5px 0;
}

.idGen {
    font-weight: 600;
    font-size: 18px !important;
}

.descComment {
    font-size: 15px !important;
}

.textJourney {
    text-align: center;
    color: #6c9fd1;
}

.customUl li {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;

    cursor: pointer;
    width: -webkit-fill-available;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* justify-content: center; */
    justify-content: start;
    gap: 15px;

    box-shadow: 0px 1px 4px rgba(196, 196, 196, 0.7);
    /* border-radius: 30px; */
    padding: 25px;
}

.customUl li:hover {
    animation-name: onHoverAnimation;
    background-color: rgba(122, 147, 189, 0.7);
    box-shadow: 0px 1px 4px rgba(146, 142, 142, 0.7);
}

.spanFilmTitle {
    color: #3e6cbf;
}

.spanFilmInfo {
    font-weight: 600;
    font-size: 18px;
}

@keyframes onHoverAnimation {
    0% {
        background-color: #bbc6d1;
    }

    100% {
        background-color: rgba(122, 147, 189, 0.7);
    }
}

.imageBlock img {
    border-radius: 15px;
}

.imageBlock img:hover {
    transition: all 1s ease-in-out;
    transform: scale(1.02);
}

.dateTour,
.priceTour {
    padding: 5px;
    display: inline-block;
    border: 1px solid #26373c;
    border-radius: 6px;
    background-color: rgb(205, 218, 231);
}

.priceTour {
    background-color: rgb(221, 236, 249);
}

.timeTourText,
.spanTour {
    font-weight: 600;
    margin: 0;
}

.timeTourTextData {
    margin: 0;
}

.timeTour {
    display: grid;
}

.firstPart {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.dateTimePriceBlock {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}

.buyWrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 22px 0 0;
}

.buttonBuyTicketFinish button {
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background-color: #3958b5;
}

.buttonBuyTicket button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background-color: #942b2b;
}

.buttonBuyTicket2 button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background-color: #2b6394;
}

.wrapPost,
.comments {
    background-color: #bfdfff;
    box-shadow: 0px 1px 4px rgb(196 196 196 / 70%);
    border-radius: 30px;
    padding: 15px 40px;
}

.comments {
    background-color: #99c5ff;
    margin-top: 30px;
    margin-bottom: 20px;
}

.comments h2 {
    font-size: 20px;
    margin-top: 0;
}

.emailForm {
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    border-radius: 15px;
    background: #dae4f4;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    padding-bottom: 15px;
}

.emailForm input,
.emailForm textarea {
    padding: 5px 10px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.emailForm input:focus,
.emailForm textarea:focus {
    outline: none !important;
    border: 1px solid #0c3e50cf;
    box-shadow: 0 0 10px #0c3e50cf;
}

.emailForm input {
    height: 44px;
    border: 1px solid #0c3e50cf;
    border-radius: 3px;
}

.emailForm textarea {
    padding: 10px 12px;
    font-size: 15px;
    width: 24rem;
    border: 1px solid #0c3e50cf;
    border-radius: 3px;
}

.emailForm button[type=submit] {
    background: #0c3e50cf;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.emailForm button[type=submit]:hover {
    background: #3e6cbf;
}

.emailForm button {
    margin-top: 15px;
}

@media (max-width: 1020px) {
    .customUl {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    .customUl li {
        max-width: unset;
    }

    .row {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 788px) {
    .row {
        grid-template-columns: auto;
    }

    .emailForm textarea {
        width: 10.7rem;
    }
}

@media (max-width: 880px) {
    .productContainer {
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
        gap: 20px;
        padding-top: 15px;
    }
}

@media (max-width: 495px) {
    .customUl li {
        grid-template-columns: auto;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 17px;
    }
}